<div class="barraTitulo">
  Validar Festivos
</div>
<div class="contenedor">
  <p>Selecciona si deseas validar una fecha o deseas saber todos los festivos de un año:</p>
  <br>
  <div class="contenedorBotones">
    <div class="example-button-row">
      <button mat-flat-button (click)="redirectTo('validar')">Validar Festivo</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button (click)="redirectTo('obtener')">Obtener lista de Festivos</button>
    </div>
  </div>
</div>
