<div class="barraTitulo">
  Obtener Lista de Festivos
</div>
<div class="contenedorCalendario">
  <p>Selecciona el año que desea obtener:</p>

    <mat-form-field appearance="fill">
      <mat-label>Selecciona el año</mat-label>
      <mat-select (selectionChange)="onYearChange($event)">
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  <br>
  <div class="example-button-row">
    <button mat-flat-button (click)="validate()">Obtener Festivos</button>
  </div>

</div>
<br>
<div class="contenedorTabla">
<ngx-datatable class="dark" [rows]="festivos" [columns]="columnas" [limit]="10" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"></ngx-datatable>
</div>
